body {
  margin: 0;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #ff758c, #ff7eb3);
  overflow: hidden;
}

/* Card */
.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 30px 40px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  z-index: 5;
}

.hidden {
  display: none;
}

.buttons {
 position: relative;   /* boundary for NO button */
  height: 80px;
  margin-top: 20px;
}

button {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#yesBtn {
  background: #ff4d6d;
  color: white;
}

#noBtn {
 position: absolute;
  right: 0;
  top: 0;
  transition: left 0.2s, top 0.2s; /* smooth movement */
}

/* Hearts */
.heart {
  position: fixed;
  bottom: -20px;
  font-size: 26px;
  animation: floatUp 6s linear;
  z-index: 1;
  pointer-events: none;
}

@keyframes floatUp {
  from { transform: translateY(0); opacity: 1; }
  to { transform: translateY(-110vh); opacity: 0; }
}
